/* line 1, sass/_main.sass */
body {
  padding: 11px 0 14px 0;
  margin: 0 auto;
  width: 978px;
  background-color: #efefdf;
  color: black;
}

/* line 8, sass/_main.sass */
div, h1, h2, p, form, label, input, textarea, img, span, ul {
  margin: 0;
  padding: 0;
}

/* line 13, sass/_main.sass */
ul {
  list-style-type: none;
}

/* line 16, sass/_main.sass */
.spacer {
  clear: both;
  font-size: 0;
  line-height: 0;
}

/*------------------------------------------------body-------------------- */
/*------------------------------------------------header-------------------- */
/* line 24, sass/_main.sass */
#header {
  background: blue;
}
/* line 26, sass/_main.sass */
#header ul {
  height: 29px;
}
/* line 28, sass/_main.sass */
#header ul li {
  height: 27px;
  float: left;
  padding: 0 1px 0 0;
}
/* line 32, sass/_main.sass */
#header ul li a {
  display: block;
  padding: 0 14px;
  font: bold 11px/27px Arial, Helvetica, sans-serif;
  color: #344a04;
  background-color: inherit;
  text-decoration: none;
  color: white;
  background-color: inherit;
}
